h1{
    text-align: center;
}

body {
    background-color: darkseagreen;
}

h3{
    text-align: center;
    margin-left: 23%;
    margin-right: 23%;

}
#Religion h3 {
    background-color: skyblue;
}

#History h3 {
    background: lightyellow;
}

#Controversy h3 {
    background-color: tan;
}

#Future h3 {
    background-color: lightpink;
}

img.niceimage { 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 10%;
    display: block;
}
article {
    text-align: center;
}

p {
    text-align: center; margin: 2.70%
}



#menu-outer {
	height: 84px;
	background: url(images/bar-bg.jpg) repeat-x;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	ul#horizontal-list li {
		display: inline;
	}

.menu{
    text-decoration: none;
    list-style-type: none;
    color: greenyellow;
    font-size: large;
    border: 2px solid black;
    padding: 5%;
    display: inline-block;
}

.menu:hover {
    background-color: silver;
}
