.heading{
    text-align: center;
}

h3{
    text-align: center;
}
#Religion h3 {
    background-color: skyblue;
}

#History h3 {
    background: lightyellow;
}

#Controversy h3 {
    background-color: deeppink;
}

body {
    background-color: darkseagreen;
}