h3{
    text-align: center;
}
#Religion h3 {
    background-color: lightgreen;
}

#History h3 {
    background: lightyellow;
}

#Controversy h3 {

}

p {

}

body {
    background-color: darkseagreen;
}